.advantages {
  width: 100%;
  padding: 40px 0;

  background-color: $white;
}

.advantages__header {
  @include reset-text();
  margin-bottom: 20px;

  font-size: 40px;
  font-weight: bols;
  color: $dark-violet;
  text-transform: uppercase;
}

.advantages__list {
  @include reset-list();
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.advantages__item {
  position: relative;

  width: 33%;
  padding-left: 80px;
  margin-bottom: 40px;

  text-align: left;

  & img {
    position: absolute;
    top: 0;
    left: 10px;

    display: block;
    width: 50px;
    height: 50px;
  }
}

.advantages__title {
  @include reset-text();

  color: $dark-violet;
  font-weight: normal;
  font-size: 30px;
  text-transform: uppercase;

  &::before {
    content: url("../img/icons-png/icon-check.png");
    position: absolute;
    top: 0;
    left: 10px;

    display: block;
    width: 50px;
    height: 50px;
  }
}

.advantages__text {
  @include reset-text();
  margin-top: 10px;

  color: $dark-violet;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
}



@media (max-width: $desktop-width) {
  .advantages__header {
    margin-bottom: 20px;

    font-size: 35px;
  }

  .advantages__title {
    font-size: 25px;
  }

  .advantages__text {
    margin-top: 5px;
  }
}

@media (max-width: $large-width) {
  .advantages__item {
    width: 47%;
    padding-left: 70px;
  }

  .advantages__title {
    font-size: 23px;
  }

  .advantages__text {
    margin-top: 5px;
  }
}
