.advise {
  width: 100%;
  padding: 40px 0 60px;

  background-color: $white;
}

.advise__inner-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.advise__img-wrapper {
  width: 47%;

  img {
    width: 100%;
    display: block;
  }
}

.advise__content-wrapper {
  display: block;
  width: 47%;

  text-align: left;
}

.advise__title {
  @include reset-text();
  margin-bottom: 20px;

  color: $dark-violet;
  font-size: 32px;
  font-weight: normal;
  text-transform: normal;
}

.advise__text {
  @include reset-text();
  padding-bottom: 20px;

  color: $dark-violet;
  font-size: 17px;
  font-weight: normal;
  text-transform: none;
}

.advise__button {
  margin-top: 10px;
}

@media (max-width: $large-width) {
  .advise__img-wrapper {
    width: 100%;
  }

  .advise__content-wrapper {
    width: 100%;
  }

  .advise__inner-wrapper {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
