.contacts__tripple {
  width: 49%;

  text-align: left;
}

.contacts__form {
  width: 49%;

  text-align: left;
}

.contacts__title {
  @include reset-text();

  font-size: 32px;
  font-weight: normal;
}

.contacts__inner-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.contacts__list {
  @include reset-list();

  &--form {
    textarea {
      width: 100%;
      height: 100px;
      padding-left: 20px;
      padding-top: 10px;
      margin-top: 10px;
      resize: none;

      text-align: left;
      line-height: 1.7;

      border: 1px solid #e5e5e5;
      transition: all ease-in-out 0.3s;

      &:hover {
        border-color: $orange;
      }

      &:focus,
      &:active {
        border-color: $dark-orange;
      }
    }

    label {
      display: block;
      margin: 8px 0 8px;
    }

    input {
      width: 100%;
      height: 40px;
      padding: 0 0 0 22px;
      display: block;
      margin: 0 auto;

      border: 1px solid #e5e5e5;
      outline: none;

      transition: all ease-in-out 0.3s;

      &:hover {
        border-color: $orange;
      }

      &:focus {
        border-color: $dark-orange;
      }
    }
  }
}

.contacts__list-wrapper {
  width: 100%;
  margin-bottom: 20px;

  &:nth-child(1) {
    li {
      margin: 12px 0;
    }
  }

  &:nth-child(2) {
    ul {
      display: flex;
      margin-top: 10px;
    }

    li {
      margin: 0 5px;
    }

    svg {
      fill: $orange;
    }
  }
}

.contacts__text {
  @include reset-text();

  margin: 3px 0;
}

.contacts__item {
  a {
    padding-left: 0;
  }
}

.contacts__button {
  @include reset-button();
  position: relative;

  display: inline-block;
  vertical-align: top;
  padding: 0 20px;
  width: auto;


  color: $white;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: normal;
  line-height: 28px;

  background-color: $orange;

  transition: all ease-in-out 0.3s;

  &:hover {
    background-color: $dark-orange;
  }
}

@media (max-width: $tablet-width) {
  .contacts__tripple {
    width: 100%;
  }

  .contacts__form {
    width: 100%;
    margin-top: 20px;
  }
}
