.copyright__content {
  color: $white;
  font-size: 17px;
  font-weight: normal;
}

.copyright__number {
  display: block;
  padding: 10px 10px 10px 10px;

  color: $orange;
  font-weight: bold;
  font-size: 19px;
  text-transform: uppercase;
}
