.intro-model {
  width: 100%;
  padding: 70px 0;

  background-color: $dark-gray;
  background: url("../img/bg-img/alloy-types--bg.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  &--contacts {
    background: url("../img/bg-img/destination-scandinavia-header.jpg");
    background-position: 50% 50%;
    background-size: cover;
  }

  &--equipment {
    background: url("../img/bg-img/destination-scandinavia-header.jpg");
    background-position: 50% 50%;
    background-size: cover;
  }
}

.intro-model__title {
  @include reset-text();
  margin-bottom: 20px;

  color: $white;
  font-size: 60px;
  font-weight: normal;
  text-transform: uppercase;
}

.intro-model__text {
  @include reset-text();

  color: $white;
  font-size: 24px;
  font-weight: normal;
  text-transform: none;
}

@media (max-width: $large-width) {
  .intro-model__title {
    font-size: 45px;
  }

  .intro-model__text {
    font-size: 22px;
  }
}

@media (max-width: $tablet-width) {
  .intro-model {
    padding: 60px 0 40px;
  }

  .intro-model__title {
    font-size: 35px;
  }

  .intro-model__text {
    font-size: 18px;
  }
}
