.intro {
  position: relative;
}

.intro__list {
  @include reset-list();
}


.intro__item {
  position: relative;

  display: block;
  width: 100%;
  height: 500px;

  background-color: #09180C;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.intro__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  min-height: 170px;
  margin: 250px 0 0 50px;
  padding-left: 10px;
  padding-top: 5px;
  text-align: left;

  background-color: transparentize($black, 0.4);

  transform: translateY(-50%);
}

.intro__title {
  @include reset-text();
  display: block;
  padding: 0 10px;

  color: $white;
  font-weight: normal;
  font-size: 40px;
  text-align: left;
}

.intro__button {
  margin-top: auto;
}

@media (max-width: $desktop-width) {
  .intro__item {
    height: 400px;
  }

  .intro__content {
    margin: 200px 0 0 50px;

    p:last-child {
      @include reset-text();

      padding-bottom: 10px;
    }
  }
}

@media (max-width: $large-width) {
  .intro__item {
    height: 350px;
  }

  .intro__content {
    margin: 170px 0 0 50px;
    width: 300px;
    min-height: 150px;
  }


  .intro__title {
    padding: 0 10px;

    font-size: 34px;
  }
}

@media (max-width: $tablet-width) {
  .intro__item {
    height: 450px;
  }

  .intro__content {
    width: 200px;
    min-height: 190px;
  }


  .intro__title {
    padding: 10px 0 0 10px;

    font-size: 30px;
  }

}
