.request {
  width: 100%;
  padding: 40px 0;

  background-color: $orange;
  background-image: url("../img/bg-img/request--bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.request__inner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  p {
    @include reset-list();
  }
}

.request__header {
  @include reset-text();
  margin-bottom: 40px;

  font-size: 40px;
  font-weight: bold;
  color: $dark-violet;
  text-transform: uppercase;
}

@media (max-width: $large-width) {
  .request__header {
    margin-bottom: 30px;

    font-size: 34px;
  }
}

@media (max-width: $tablet-width) {
  .request {
    position: relative;

    height: 250px;
  }

  .request__header {
    margin: 0 10px 30px;

    font-size: 22px;
  }

  .request-button {
    position: absolute;
    bottom: 30px;
    left: 50%;

    transform: translateX(-50%);
  }
}
