.routes {
  width: 100%;
  padding: 40px 0;

  background: $dark-gray;
}

.routes--bel {
  background-color: $white;
  .routes__header {
    color: $dark-violet;
    font-weight: 600;
  }
}

.routes__header {
  @include reset-text();
  margin-bottom: 20px;

  font-size: 35px;
  font-weight: bold;
  color: $white;
  text-transform: uppercase;
}

.routes__list {
  @include reset-list();
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.routes__item {
  position: relative;

  width: 24%;
  margin-bottom: 15px;

  &:hover .routes__content-wrapper {
    opacity: 1;
  }
}

.routes__link {
  display: block;

  &:hover img {
    transform: scale(1.05);
    opacity: 0.6;
  }
}

.routes__img-wrapper {
  width: 100%;
  height: 240px;

  background-color: $black;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;

    transition: all ease-in-out 0.6s;
  }
}

.routes__content-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;

  display: inline-block;

  opacity: 0;

  transform: translateY(-50%) translateX(-50%);
  transition: all ease-in-out 0.6s;
}

.routes__title {
  @include reset-text();
  margin-bottom: 20px;
  display: block;

  font-size: 30px;
  font-weight: normal;
  color: $white;
  text-transform: none;
}

.routes__text {
  @include reset-text();
  position: relative;

  font-size: 17px;
  font-weight: normal;
  color: $white;
  text-transform: none;

  &::before {
    content: "";
    position: absolute;
    top: -12px;
    left: 50%;

    display: block;
    width: 40px;
    height: 3px;

    background-color: $white;

    transform: translateX(-50%);
  }
}

@media (max-width: $desktop-width) {
  .routes__img-wrapper {
    height: 200px;
  }
}

@media (max-width: $large-width) {
  .routes {
    padding: 40px 0 20px;
  }

  .routes__item {
    width: 47%;
    margin-bottom: 20px;
  }

  .routes__img-wrapper {
    height: 200px;
    width: 240px;
    margin: 0 auto;
  }

  .route-images {
    height: auto;
  }
}

@media (max-width: $tablet-width) {
  .routes {
    padding: 30px 0 20px;
  }

  .routes__item {
    width: 100%;
    margin-bottom: 20px;
  }

  .routes__img-wrapper {
    height: 200px;
    width: 240px;
    margin: 0 auto;
  }

  .routes__header {
    font-size: 26px;
  }
}
