.services {
  width: 100%;
  padding: 40px 0;

  background-color: $white;
}

.services__header {
  @include reset-text();
  margin-bottom: 20px;

  font-size: 40px;
  font-weight: normal;
  color: $dark-violet;
  text-transform: uppercase;
}

.services__list {
  @include reset-list();

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services__flip-inner {
  background-color: transparent;
  width: 100%;
  height: 100%;
  border: 1px solid #f1f1f1;
  perspective: 1000px;

  &:hover .services__flip-position{
    transform: rotateY(180deg);
  }
}

.services__flip-position {
  position: relative;
  width: 100%;
  height: 200px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.services__item {
  width: 23%;
  height: 100%;
}

.services__img-wrapper {
  width: 100%;

  a {
    display: block;
  }

  img {
    width: 100%;
    height: 200px;
    display: block;
  }
}

.services__img-wrapper,
.services__back-wrapper {
  position: absolute;
  width: 100%;
  height: 200px;
  backface-visibility: hidden;
}

.services__back-wrapper {
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  color: white;
  transform: rotateY(180deg);
}

.services__title {
  @include reset-text();
  display: block;

  margin: 20px auto 0;
  width: 86%;
  font-size: 25px;
  font-weight: bold;
  color: $white;
  text-transform: uppercase;
}

.services__text {
  @include reset-text();
  display: block;

  margin: 10px auto 0;
  width: 93%;
  font-size: 17px;
  font-weight: normal;
  color: $white;
  text-transform: none;
}
