/* Colors */

$white:white;
$black:black;
$orange:#f36523; /* main */
$dark-violet:#292c3d; /* text */
$dark-green:#09180C; /* bg */


$light-blue:#435563; /* menu-light */
$pink:#d22856;
$gray:#f2f2f2;
$green:#2aab6d;

/* screen wide */
$phone-width: 320px;
$tablet-width: 660px;
$desktop-width: 1300px;
