/* Colors */

$white:white;
$black:black;
$orange:#f36523; /* main */
$dark-orange: #ef470a; /* main-dark */
$dark-violet:#252525; /* text */    /* #4f5260 */
$dark-gray:#252525; /* bg */
$gray:#f5f5f5;


$pink:#d22856;
$green:#2aab6d;

/* screen wide */
$phone-width: 320px;
$tablet-width: 659px;
$large-width: 979px;
$desktop-width: 1199px;
