/* Colors */

$white:white;
$black:black;
$orange:#f36523; /* main */
$dark-orange: #EF470A; /* main-dark */
$dark-violet:#4f5260; /* text */
$dark-gray:#252525; /* bg */
$gray:#F5F5F5;


$pink:#d22856;
$green:#2aab6d;

/* screen wide */
$phone-width: 320px;
$tablet-width: 659px;
$large-width: 979px;
$desktop-width: 1199px;
