.container {
  margin: 0 auto;
  height: auto;
  max-width: 320px;

  text-align: center;
}

@media (min-width: $tablet-width) {
  .container {
    max-width: 620px;
    padding: 0 10px;
  }
}

@media (min-width: $large-width) {
  .container {
    max-width: 940px;
    padding: 0 10px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    max-width: 1200px;
    padding: 0 20px;
  }
}
