.container {
  margin: 0 auto;
  height: auto;
  min-width: 300px;

  text-align: center;
}

@media (min-width: $tablet-width) {
  .container {
    max-width: 620px;
    padding: 0 20px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    max-width: 1300px;
    padding: 0 40px;
  }
}
