
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 17px;
  font-weight: normal;
  text-decoration: none;
  font-style: none;
  color: $dark-violet;

  background-color: $white;
}

a {
  text-decoration: none;

  color: $dark-violet;
}
