.page-footer {

  width: 100%;
  padding: 0 0 30px;

  background: $dark-gray;
}

.page-footer__logo {
  display: block;
  padding: 15px 10px;

  color: $white;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;

  transition: all ease-in-out 0.3s;

  &:hover {
    color: $orange;
  }
}

.page-footer__inner-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;

  text-align-last: left;
}


@media (max-width: $desktop-width) {


}


@media (max-width: $large-width) {
  .page-footer__inner-wrapper {
    flex-wrap: wrap;
  }

  .page-footer__nav {
    width: 48%;
  }
}

@media (max-width: $tablet-width) {
  .page-footer {
    padding-bottom: 10px;
  }
  .page-footer__nav {
    display: none;
  }
}
